@import "../../reset.css";

:host {
  position: relative;
  color: red;
}

:host::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spacing-sm);
  background: var(--color-black);
  inset: auto 0px -8px;
  border: var(--border);
  border-radius: var(--spacing-xs);
  z-index: -1;
}

div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--spacing-md);
  margin: var(--spacing-md);
  padding: var(--spacing-lg);
  border-radius: var(--spacing-xs);
  background: var(--color-primary);
  border: var(--border);
}

div[data-theme="secondary"] {
  background: var(--color-secondary);
}
